@font-face {
  font-family: light;
  src: url(../fonts/ProximaLight.otf);
}

@font-face {
  font-family: regular;
  src: url(../fonts/ProximaRegular.otf);
}

@font-face {
  font-family: bolds;
  src: url(../fonts/ProximaBold.otf);
}

::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #e6ecf8;
}

::-webkit-scrollbar-thumb {
  background-color: #26a95d;
}

body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

.animates {
  animation: bounce 0.6s infinite alternate;
  -webkit-animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

.navbar-dark {
  background: #333333 !important;
}

bagianatas1 {
  background: #333333;
}

.daleman_nav {
  padding: 20px;
  background: #333333;
}

.daleman_nav .navbar-nav .nav-link {
  transition: 0.3s;
  margin: 0 0 0 32px;
  font-family: bolds;
  letter-spacing: 1.2px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.daleman_nav .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.daleman_nav .navbar-nav .tombol {
  text-decoration: none;
  background: #26a95d;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  font-family: bolds;

  border: 2px solid #26a95d;
    text-decoration: none;
    background: #26A95D;
    padding: 10px 32px 10px 32px;
    color: #ffffff;
    font-family: bolds;
    border: 2px solid #26A95D;
    transition: ease all 0.5s;
}

.daleman_nav .navbar-nav .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  font-family: bolds;
  border: 2px solid #26a95d;
}

.konten {
  background: #333333;
  padding: 0 0 100px 0;
}

.konten .kiri h1 {
  font-family: bolds;
  margin: 0 0 24px 0;
  color: #ffffff;
  font-size: 56px;
}

.konten .kiri p {
  font-family: regular;
  margin: 0 0 41px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
}

.konten .kiri .tombol {
  text-decoration: none;
  background: #26a95d;
  padding: 20px 32px 20px 32px;
  color: #ffffff;
  font-family: bolds;
  border: 2px solid #26a95d;
}

.konten .kiri .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 20px 32px 20px 32px;
  color: #ffffff;
  font-family: bolds;
  border: 2px solid #26a95d;
  cursor: pointer;
}

.konten .kanan img {
  margin: 30px 0 0 0;
  width: 100%;
}

.bagianbody p {
  font-size: 24px;
  color: #3d3d3d;
  font-family: bolds;
}

.bagianbody img {
  width: 100%;
}
.tombol,
a.tombol {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.bagianbody2 .p1 {
  font-size: 24px;
  color: #3d3d3d;
  font-family: bolds;
}

.bagianbody2 .p2 {
  font-size: 28px;
  color: #3d3d3d;
  font-family: regular;
}

.bagianbody2 img {
  width: 40%;
}

.bagianbody2 h2 {
  color: #3d3d3d;
  font-family: bolds;
  font-size: 24px;
}

.bagianbody2 .kotak {
  display: inline-block;
}

.bagianbody2 .dalemkotak {
  width: 200px;
}

.bagianbody2 .tombol {
  text-decoration: none;
  background: #26a95d;
  padding: 16px 52px 16px 52px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.bagianbody2 .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 16px 52px 16px 52px;
  color: #26a95d;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.bagianbody3 {
  background: #333333;
}

.bagianbody3 .p1 {
  font-size: 30px;
  color: #26a95d;
  font-family: bolds;
}

.bagianbody3 .p2 {
  font-size: 22px;
  color: #ffffff;
  font-family: regular;
}

.bagianbody3 img {
  width: 100%;
}

.bagianbody3 .dalemnyakotak {
  width: 56%;
  display: inline-block;
}

.bagianbody3 .tombol {
  text-decoration: none;
  background: #26a95d;
  padding: 16px 52px 16px 52px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.bagianbody3 .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 16px 52px 16px 52px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.bagianbody4 {
  position: relative;
  background: #5a5a5a;
}

.bagianbody4 .divbagianbody4 {
  display: block;
}

.bagianbody4 .reviews {
  width: 100%;
}

.bagianbody4 .p1 {
  margin: 15px 10px 0 0;
  display: inline-block;
  font-size: 30px;
  color: #26a95d;
  font-family: bolds;
}

.bagianbody4 .p2 {
  font-size: 22px;
  color: #ffffff;
  font-family: regular;
}

.bagianbody4 .dalemnyakotak {
  width: 56%;
  display: inline-block;
}

.bagianbody4 .tombol {
  text-decoration: none;
  background: #26a95d;
  padding: 16px 52px 16px 52px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
    text-decoration: none;
    background: #26A95D;
    padding: 16px 52px 16px 52px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26A95D;
    transition: ease all 0.5s;
}

.bagianbody4 .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 16px 52px 16px 52px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.bagianbody4 .help {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #26a95d;
  padding: 12px 25px 12px 25px;
  color: #ffffff;
  font-family: bolds;
  display: block;
  border-radius: 30px;
}

.bagianbody4 .help:hover {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #333333;
  padding: 12px 25px 12px 25px;
  color: #ffffff;
  font-family: bolds;
  display: block;
  border-radius: 30px;
  cursor: pointer;
}

.sebelummasukkefooter {
  background: #f2f2f2;
}

.sebelummasukkefooter .p1 {
  font-family: bolds;
  font-size: 24px;
  color: #3d3d3d;
}

.sebelummasukkefooter .title1 {
  font-family: bolds;
  font-size: 16px;
  color: #707070;
}

.sebelummasukkefooter .title2 {
  font-family: bolds;
  font-size: 16px;
  color: #707070;
}

.sebelummasukkefooter .title3 {
  font-family: bolds;
  font-size: 16px;
  color: #707070;
}

.sebelummasukkefooter .subtitle {
  font-family: bolds;
  color: #3d3d3d;
}

.sebelummasukkefooter .fab {
  font-size: 40px;
  color: #26a95d;
  margin: 0 10px 0 10px;

    font-size: 40px;
    color: #26A95D;
    margin: 0 10px 0 10px;
    transition: ease all 0.5s;
}

.sebelummasukkefooter .fab:hover {
  font-size: 40px;
  color: #3d3d3d;
  margin: 0 10px 0 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.sebelummasukkefooter .btn-primary {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
  outline: none;
  border: none;
}

.sebelummasukkefooter .btn-primary:hover {
  color: #fff;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  outline: none;
  border: none;
}

.sebelummasukkefooter .btn:focus,
.btn:active {
  color: #fff;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  outline: none;
  border: none;
  box-shadow: none;
}

.sebelummasukkefooter .form-control {
  outline: none;
  border: none;
  box-shadow: none;
}

.footer {
  background: #3d3d3d;
}

.footer .footer-nav {
  transition: 1s;
  color: #ffffff;
  font-family: bolds;
  margin: 0 10px 0 10px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.footer .footer-nav:hover {
  transition: 1s;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.footer .tombol {
  position: relative;
  top: 13px;
  text-decoration: none;
  background: #26a95d;
  padding: 9px 29px 9px 29px;
  color: #ffffff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
    position: relative;
    top: 13px;
    text-decoration: none;
    background: #26A95D;
    padding: 9px 29px 9px 29px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26A95D;
    transition: ease all 0.5s;
}

.footer .tombol:hover {
  text-decoration: none;
  background: transparent;
  padding: 9px 29px 9px 29px;
  color: #fff;
  font-family: bolds;
  display: inline-block;
  border: 2px solid #26a95d;
}

.footer .batas {
  color: #ffffff;
}

.footer .footext {
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 1.4px;
}

.footer .logofoot {
  width: 30%;
}

.menu-utama2 {
  display: none;
}

div#mengloding {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #292929 50%, #0f0f0f, #00ca65 50%, #074200);
}

div#mengloding img {
  z-index: 9999;
  height: 150px;
  width: auto;
  backdrop-filter: blur(40px);
  padding: 40px;
  border-radius: 20px;
}

#kontener {
  visibility: hidden;
}

.keatas {
  background-color: #26a95d;
  border: none;
  border-radius: 10px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 16px;
  line-height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.keatas:focus {
  border: none;
  outline: none;
}

.tampilintombolkeatas {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 280px) and (max-width: 670px) {
  .footer .tombol {
    position: relative;
    top: -8px;
    text-decoration: none;
    background: #26a95d;
    padding: 9px 28px 9px 28px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .konten {
    background: #333333;
    padding: 0 10px 40px 10px;
  }

  .konten .kiri h1 {
    font-family: bolds;
    margin: 0 0 0px 0;
    color: #ffffff;
    font-size: 36px;
  }

  .konten .kiri p {
    font-family: regular;
    margin: 0 0 0px 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
  }

  .konten .kiri .tombol {
    margin: 20px 0 0 0;
    display: inline-block;
    text-decoration: none;
    background: #26a95d;
    padding: 14px 22px 14px 22px;
    color: #ffffff;
    font-family: bolds;
    border: 2px solid #26a95d;
  }

  .konten .kiri .tombol:hover {
    margin: 20px 0 0 0;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    padding: 14px 22px 14px 22px;
    color: #ffffff;
    font-family: bolds;
    border: 2px solid #26a95d;
    cursor: pointer;
  }

  .konten .kanan img {
    margin: 30px 0 0 0;
    width: 100%;
  }

  .bagianbody p {
    font-size: 24px;
    color: #3d3d3d;
    font-family: bolds;
  }

  .bagianbody img {
    width: 70%;
  }

  .bagianbody2 .p1 {
    font-size: 24px;
    color: #3d3d3d;
    font-family: bolds;
  }

  .bagianbody2 .p2 {
    font-size: 20px;
    color: #3d3d3d;
    font-family: regular;
  }

  .bagianbody2 img {
    width: 40%;
  }

  .bagianbody2 h2 {
    color: #3d3d3d;
    font-family: bolds;
    font-size: 24px;
  }

  .bagianbody2 .kotak {
    display: inline-block;
  }

  .bagianbody2 .dalemkotak {
    width: 200px;
  }

  .bagianbody2 .tombol {
    text-decoration: none;
    background: #26a95d;
    padding: 12px 22px 12px 22px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody2 .tombol:hover {
    text-decoration: none;
    background: transparent;
    padding: 12px 22px 12px 22px;
    color: #26a95d;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody3 {
    background: #333333;
  }

  .bagianbody3 .p1 {
    font-size: 16px;
    color: #ffffff;
    font-family: bolds;
  }

  .bagianbody3 .p2 {
    font-size: 20px;
    color: #ffffff;
    font-family: regular;
  }

  .bagianbody3 img {
    width: 100%;
  }

  .bagianbody3 .dalemnyakotak {
    width: 100%;
    display: inline-block;
  }

  .bagianbody3 .tombol {
    text-decoration: none;
    background: #26a95d;
    padding: 12px 22px 12px 22px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody3 .tombol:hover {
    text-decoration: none;
    background: transparent;
    padding: 12px 22px 12px 22px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody4 {
    position: relative;
    background: #828282;
  }

  .bagianbody4 .divbagianbody4 {
    display: block;
  }

  .bagianbody4 .reviews {
    width: 70%;
  }

  .bagianbody4 .p1 {
    margin: 15px 10px 0 0;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-family: bolds;
  }

  .bagianbody4 .p2 {
    font-size: 20px;
    color: #ffffff;
    font-family: regular;
  }

  .bagianbody4 .dalemnyakotak {
    width: 100%;
    display: inline-block;
  }

  .bagianbody4 .tombol {
    text-decoration: none;
    background: #26a95d;
    padding: 12px 22px 12px 22px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody4 .tombol:hover {
    text-decoration: none;
    background: transparent;
    padding: 12px 22px 12px 22px;
    color: #ffffff;
    font-family: bolds;
    display: inline-block;
    border: 2px solid #26a95d;
  }

  .bagianbody4 .help {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #26a95d;
    padding: 12px 25px 12px 25px;
    color: #ffffff;
    font-family: bolds;
    display: none;
    border-radius: 30px;
  }

  .bagianbody4 .help:hover {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #333333;
    padding: 12px 25px 12px 25px;
    color: #ffffff;
    font-family: bolds;
    display: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .sebelummasukkefooter .title1 {
    font-family: bolds;
    font-size: 16px;
    color: #707070;
  }

  .sebelummasukkefooter .title2 {
    font-family: bolds;
    font-size: 24px;
    color: #3d3d3d;
  }

  .sebelummasukkefooter .title3 {
    font-family: bolds;
    font-size: 16px;
    color: #707070;
  }

  .sebelummasukkefooter .fab {
    font-size: 46px;
    color: #26a95d;
    margin: 0 10px 0 10px;
  }

  .sebelummasukkefooter .fab:hover {
    font-size: 46px;
    color: #3d3d3d;
    margin: 0 10px 0 10px;
    transform: scale(1.2);
    cursor: pointer;
  }

  .menu-utama2 {
    background: #26a95d;
  }

  header ul.menu-utama2.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    text-decoration: none;
    list-style: none;
    padding: 0;
  }

  header .menu-utama2 #linkstombol {
    text-decoration: none;
    margin: 14px 0;
    display: block;
    background: #3d3d3d;
    color: #fff;
    font-family: bolds;
    padding: 12px 22px;
    border: 2px solid #3d3d3d;
  }

  header .menu-utama2 #linkstombol:hover {
    text-decoration: none;
    margin: 14px 0;
    display: block;
    background: transparent;
    color: #fff;
    font-family: bolds;
    padding: 12px 22px 12px 22px;
    border: 2px solid #fff;
  }

  header .menu-utama2 #links {
    font-family: bolds;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    transition: 1s;
    margin: 14px 0;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  header .menu-utama2 #links:hover {
    font-family: bolds;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  header #logonav {
    position: absolute;
    top: 33px;
    left: 32px;
  }

  .menu {
    background: #26a95d;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    visibility: visible !important;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    outline: none;
    z-index: 1234;
  }

  .menu:focus {
    outline: none;
    border: none;
  }

  .menu:active {
    outline: none;
    border: none;
  }

  .line {
    fill: none;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
    stroke: white;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
    stroke: white;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
    stroke: white;
  }

  .footer .logofoot {
    width: 50%;
  }

  div#mengloding img {
    z-index: 9999;
    width: 55%;
  }
    .footer .tombol {
        position: relative;
        top: -8px;
        text-decoration: none;
        background: #26A95D;
        padding: 9px 28px 9px 28px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
        
    }

    .konten {
        background: #333333;
        padding: 0 10px 40px 10px;
    }

    .konten .kiri h1 {
        font-family: bolds;
        margin: 0 0 0px 0;
        color: #ffffff;
        font-size: 36px;
    }

    .konten .kiri p {
        font-family: regular;
        margin: 0 0 0px 0;
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
    }

    .konten .kiri .tombol {
        margin: 20px 0 0 0;
        display: inline-block;
        text-decoration: none;
        background: #26A95D;
        padding: 14px 22px 14px 22px;
        color: #ffffff;
        font-family: bolds;
        border: 2px solid #26A95D;
    }

    .konten .kiri .tombol:hover {
        margin: 20px 0 0 0;
        display: inline-block;
        text-decoration: none;
        background: transparent;
        padding: 14px 22px 14px 22px;
        color: #ffffff;
        font-family: bolds;
        border: 2px solid #26A95D;
        cursor: pointer;
    }

    .konten .kanan img {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .bagianbody p {
        font-size: 24px;
        color: #3D3D3D;
        font-family: bolds;
    }

    .bagianbody img {
        width: 70%;
    }

    .bagianbody2 .p1 {
        font-size: 24px;
        color: #3D3D3D;
        font-family: bolds;
    }

    .bagianbody2 .p2 {
        font-size: 20px;
        color: #3D3D3D;
        font-family: regular;
    }

    .bagianbody2 img {
        width: 40%;
    }

    .bagianbody2 h2 {
        color: #3D3D3D;
        font-family: bolds;
        font-size: 24px;
    }

    .bagianbody2 .kotak {
        display: inline-block;
    }

    .bagianbody2 .dalemkotak {
        width: 200px;
    }

    .bagianbody2 .tombol {
        text-decoration: none;
        background: #26A95D;
        padding: 12px 22px 12px 22px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody2 .tombol:hover {
        text-decoration: none;
        background: transparent;
        padding: 12px 22px 12px 22px;
        color: #26A95D;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody3 {
        background: #333333;
    }

    .bagianbody3 .p1 {
        font-size: 16px;
        color: #ffffff;
        font-family: bolds;
    }

    .bagianbody3 .p2 {
        font-size: 20px;
        color: #ffffff;
        font-family: regular;
    }

    .bagianbody3 img {
        width: 100%;
    }

    .bagianbody3 .dalemnyakotak {
        width: 100%;
        display: inline-block;
    }

    .bagianbody3 .tombol {
        text-decoration: none;
        background: #26A95D;
        padding: 12px 22px 12px 22px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody3 .tombol:hover {
        text-decoration: none;
        background: transparent;
        padding: 12px 22px 12px 22px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody4 {
        position: relative;
        background: #828282;
    }

    .bagianbody4 .divbagianbody4 {
        display: block;
    }

    .bagianbody4 .reviews {
        width: 70%;
    }

    .bagianbody4 .p1 {
        margin: 15px 10px 0 0;
        display: inline-block;
        font-size: 16px;
        color: #ffffff;
        font-family: bolds;
    }

    .bagianbody4 .p2 {
        font-size: 20px;
        color: #ffffff;
        font-family: regular;
    }

    .bagianbody4 .dalemnyakotak {
        width: 100%;
        display: inline-block;
    }

    .bagianbody4 .tombol {
        text-decoration: none;
        background: #26A95D;
        padding: 12px 22px 12px 22px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody4 .tombol:hover {
        text-decoration: none;
        background: transparent;
        padding: 12px 22px 12px 22px;
        color: #ffffff;
        font-family: bolds;
        display: inline-block;
        border: 2px solid #26A95D;
    }

    .bagianbody4 .help {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: #26A95D;
        padding: 12px 25px 12px 25px;
        color: #ffffff;
        font-family: bolds;
        display: none;
        border-radius: 30px;
    }

    .bagianbody4 .help:hover {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: #333333;
        padding: 12px 25px 12px 25px;
        color: #ffffff;
        font-family: bolds;
        display: none;
        border-radius: 30px;
        cursor: pointer;
    }

    .sebelummasukkefooter .title1 {
        font-family: bolds;
        font-size: 16px;
        color: #707070;
    }

    .sebelummasukkefooter .title2 {
        font-family: bolds;
        font-size: 24px;
        color: #3D3D3D;
    }

    .sebelummasukkefooter .title3 {
        font-family: bolds;
        font-size: 16px;
        color: #707070;
    }

    .sebelummasukkefooter .fab {
        font-size: 46px;
        color: #26A95D;
        margin: 0 10px 0 10px;
        transition: ease all 0.5s;
    }

    .sebelummasukkefooter .fab:hover {
        font-size: 46px;
        color: #3D3D3D;
        margin: 0 10px 0 10px;
        transform: scale(1.2);
        cursor: pointer;
        transition: ease all 0.5s;
    }

    .menu-utama2 {
        background: #26A95D;
    }

    header ul.menu-utama2.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
        text-decoration: none;
        list-style: none;
        padding: 0;
    }

    header .menu-utama2 #linkstombol {
        text-decoration: none;
        margin: 14px 0;
        display: block;
        background: #3D3D3D;
        color: #fff;
        font-family: bolds;
        padding: 12px 22px;
        border: 2px solid #3D3D3D;
    }

    header .menu-utama2 #linkstombol:hover {
        text-decoration: none;
        margin: 14px 0;
        display: block;
        background: transparent;
        color: #fff;
        font-family: bolds;
        padding: 12px 22px 12px 22px;
        border: 2px solid #fff;
    }

    header .menu-utama2 #links {
        font-family: bolds;
        text-decoration: none;
        font-size: 1.5em;
        color: #fff;
        transition: 1s;
        margin: 14px 0;
        display: block;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    header .menu-utama2 #links:hover {
        font-family: bolds;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    header #logonav {
        position: absolute;
        top: 33px;
        left: 32px;
    }

    .menu {
        background: #26A95D;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        visibility: visible !important;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        outline: none;
        z-index: 1234;
    }

    .menu:focus {
        outline: none;
        border: none;
    }

    .menu:active {
        outline: none;
        border: none;
    }

    .line {
        fill: none;
        stroke-width: 4;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
        stroke: white;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 4;
        stroke: white;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 4;
        stroke: white;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 4;
        stroke: white;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 4;
        stroke: white;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 4;
        stroke: white;
    }

    .footer .logofoot {
        width: 50%;
    }
   

    div#mengloding img {
        z-index: 9999;
        width: 55%;
    }
}
.text-footer{
  text-align: center;
  padding: 30px 0;
  font-family: 'Courier New', Courier, monospace;
  display:flex;
  justify-content: center;
  color:white;
}

.ms-auto {
	font-style: italic;
}
